<!DOCTYPE html>
<html>

<head>
	<title>imgdb</title>
	<link href="/public/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<div class="title">imgdb</div>
        <div><p>your image can be found at</p></div>
        <div><a href="<%= base_url %>/images/<%= name %>"><%= base_url %>/images/<%= name %></a></div>
        <div class="view">
            <button onclick="location.href='<%= base_url %>/'" style="margin-top: 30px;">upload another image</button>
        </div>
    </div>
    </body>
</html>